* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Princess+Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    background: linear-gradient(rgba(58, 58, 58, 0.11), #F0EFED);
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.topHeader {
    background-color: #343434;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.logo {
    font-family: 'Princess Sofia', cursive;
    font-size: 3rem;
    color: #EEE5D4;
    font-weight: 300;
}

.logoContainer {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoContainer span {
    align-self: flex-end;
    color: #EEE5D4;
    font-size: 1rem;
}

.hero {
    background-image: url(img/dessertImage.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 40px;
}

.hero::after {
    content: '';
    background: rgba(0, 0, 0, 0.35);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.hero h2 {
    color: white;
    width: 650px;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 300;
    z-index: 2;
    line-height: 64px;
}

.hero h2 span {
    color: #FFBC52;
}

.viewMenuButton {
    background-color: #343434;
    width: 370px;
    height: 60px;
    border-radius: 12px;
    color: white;
    z-index: 2;
}

header {
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

button {
    border: none;
    height: 100px;
    width: 100%;
    font-size: 2rem;
    position: relative;
    background-color: inherit;
    cursor: pointer;
}

nav button {
    font-weight: 300;
    color: #1f1f1f;
}

button:hover {
    background-color: #e4e4e4;
}

button.active::after {
        content: "";
        background: black;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        height: 2px;
        width: 75%;
        opacity: 30%;
}

.mainContainer {
    width: 60%;
    border-radius: 12px;
    height: 900px;
    margin-top: 50px;
    background: linear-gradient(rgba(58, 58, 58, 0.11), #F0EFED);
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.hero button {
    height: 50px;
    font-size: 1.5rem;
}

.hero button:hover {
    background-color: rgb(37, 37, 37);
}

.heroImage {
    width: 100%;
    height: 75%;
    object-fit: cover;
}

#content {
    margin-top: 50px;
    width: 85%;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    gap: 20px;
}

.specialItem {
    width: 70%;
    display: flex;
    align-items: center;
    gap: 30px;
}

.specialItem:nth-child(even) {
    align-self: flex-end;
    flex-direction: row-reverse;
    text-align: right;
}

.specialItem img {
    width: 238px;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
}

.specialRight {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.specialRight h2 {
    font-size: 2rem;
    font-weight: 300;
}